<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
<form action="#" th:action="@{/rest/save}" th:object="${contact}" method="post">
id      :<input type="text" th:field="*{id}" readonly> <br><br>
name    :<input type="text" th:field="*{name}"><br><br>        
email   :<input type="text" th:field="*{email}"><br><br>       
address :<input type="text" th:field="*{address}"><br><br>    
phone   :<input type="text" th:field="*{phone}"> <br><br>
<input type="submit" name="Update">   
</form>
</div>
</body>
</html>