<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<h3 style="color: red;">Contact Management System</h3>
		<a href="new">New Contact Form</a>
		<table border="1">
			<tr>
				<th>id</th>
				<th>name</th>
				<th>email</th>
				<th>address</th>
				<th>phone</th>
				<th>Action</th>
			</tr>
			<tr th:each="contact :${list}">
				<td th:text="${contact.id}">id</td>
				<td th:text="${contact.name}">name</td>
				<td th:text="${contact.email}">sal</td>
				<td th:text="${contact.address}">sal</td>
				<td th:text="${contact.phone}">sal</td>
				<td>
					<a th:href="@{'/rest/edit/'+ ${contact.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					 <a th:href="@{'/rest/delete/' + ${contact.id}}">Delete</a>
				 </td>
			</tr>
		</table>
	</div>
</body>
</html>